
html{
    border: 8px groove greenyellow;
    margin: auto;
}
body{
    background: url(./image.jpg);
    background-size: cover;
}
#box1{
    position: relative;
}
#box2{
    height: 120px;
    width: 300px;
    border: 8px solid darkred;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    position: relative;
}

#box3{
    height: 50px;
    width: 400px;
    border: 8px solid darkred;
    border-radius: 30px;
    margin-left: 236px;
    margin-top: -140px;
    color: white;
    background-color: black;
    text-align: center;
    font-style: italic;
    font-size: 24px;
    position: absolute;
    padding-left: 50px;
}
#box4{
    height: 120px;
    width: 300px;
    background-color: black;
    color: white;
    line-height: 17px;
    font-style: italic;
    border: 8px solid darkred;
    border-radius: 30px;
    float:right;
    margin-top: -160px;
    text-align: center;
    padding: 8px;
    position: relative;
}
#circle{
height: 380px;
width: 400px;
text-align: center;
font-size: 22px;
font-style: italic;
font-weight: bold;
line-height: 50px;
background-color: lightseagreen;
text-decoration: underline;
border: 8px solid lightslategray;
border-radius: 50%;
padding-top: 40px;
margin-top: 280px;
margin-left: 35px;
position: relative;
}

#hr1{
    width: 89%;
}

#hr2{
    width: 98%;
}
#circletext{
    padding: 8px;
    font-weight: bold;
    line-height: 8px;
}
#form{
    height: 600px;
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 8px;
    border: 8px dashed red;
    float: right;
    margin-top: -600px;
    margin-right: 250px;
    color: lightpink;
}
#form input{
    text-align: center;
}

#form label{
    font-size: 20px;
}
#menu{
    height: 80px;
    width: 400px;
    background-color: black;
    color: white;
    border: 8px solid darkred;
    border-radius: 40px;
    font-style: italic;
    text-align: center;
    margin: auto;
    margin-top: 80px;    
}
#hr3{
    height: 2px;
}
#flex{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 150px;
    box-sizing: border-box;
    
}
#flex div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 288px;
    height: 300px;
    width: 270px;
    border: 3px solid green;
    border-radius: 30px;
    justify-content: space-between;
    background-color: rgb(93, 247, 234);
    color: darkblue;
    text-align: center;
    box-sizing: border-box;
}

#flex div:nth-child(6){
    height: 350px;
    margin-top: 45px;
}

/* #flex1{
    flex-grow: 1;
}
#flex2{
    flex-grow: 1;
}
#flex3{
    flex-grow: 1;
}
#flex4{
    flex-grow: 1;
}
#flex5{
    flex-grow: 1;
}
#flex{
    flex-grow: 1;
} */
